.text2{
    font-family: Raleway;
    line-height: 1.5;
    letter-spacing: 0;
    font-style: normal;
    --fontSize: 40;
    line-height: 1.5;
    color: #333;
    text-align: center!important;
    font-weight: 300!important;
    font-size: 40px!important;
}
.icon2{
    color: rgb(0, 183, 255);
    margin-top: -6.5vh;
}
.hrline{
    height: 2px;
    width: 135vh;
    margin-left: 35vh;
    font-weight: 1200;
    /* box-shadow: 0px 0px 30px black; */
}
.icon3{
    color: rgb(210, 208, 208);
    margin-top: -6.5vh;
}
/* ___________________________________________ */
.icon4{
    /* height:30vh;
    width: 70px; */
    margin-top: 20px;
    color:rgb(219, 71, 71);  
    border-color: rgba(51,51,51,0);
    border-width: 0px;
    background-color: #f45448;
    box-sizing: content-box;
    height: 140px;
    width: 140px;
    line-height: 140px;
    border-radius: 50%;
    font-size: 70px;
}
.icon4:hover{
    color:rgb(14, 175, 239);
    background-color:rgb(14, 175, 239);
}
.icon7{
    margin-top: -37vh;
    color: white;
    font-size: 15vh;
}
.icon5{
    margin-top: 20px;
    color:rgb(51, 51, 205);
    border-color: rgba(51,51,51,0);
    border-width: 0px;
    background-color: #f45448;
    box-sizing: content-box;
    height: 140px;
    width: 140px;
    line-height: 140px;
    border-radius: 50%;
    font-size: 70px;
}
.icon5:hover{
    color:rgb(14, 175, 239);
    background-color:rgb(14, 175, 239);
}
.icon8{
    margin-top: -36vh;
    color: white;
    font-size: 15vh;
}
.icon6{
    margin-top: 20px;
    color:rgb(28, 130, 28);
    border-color:rgb(28, 130, 28);
    border-width: 0px;
    background-color: #f45448;
    box-sizing: content-box;
    height: 140px;
    width: 140px;
    line-height: 140px;
    border-radius: 50%;
    font-size: 70px;
}
.icon6:hover{
    color:rgb(14, 175, 239);
    background-color:rgb(14, 175, 239);
}
.icon9{
    margin-top: -36vh;
    color: white;
    font-size: 13vh;
}
.c1{
    margin-top: -6vh;
}
.c1:hover{
    color:rgb(14, 175, 239);
}
.ptext:hover{
    color:rgb(14, 175, 239);
}
.cardg1{
    padding: 1rem;
    width: 58vh;
    display: inline-flex;
    margin: 2rem;
    margin-left: 1vh;
}
.cardg2{
    padding: 1rem;
    width: 58vh;
    display: inline-flex;
    margin-left: -3vh;
    margin-top: -92vh;
    margin:1.5rem;
}
.cardg3{
    padding: 1rem;
    width: 58vh;
    display: inline-flex;
    margin-top: -40vh;
    margin: 1.5rem;
}